<!--The content below is only a placeholder and can be replaced.-->
<div class="background" >
  <button (click)="signUp()">Not Signed?</button>
  <form class="centered">
    <div class="form-group">
      <input type="text" class="form-control" id="userName" placeholder="Enter user name" [(ngModel)]="logInDetails">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary btn-centered">Log In</button>
  </form>
</div>

{{form.pristine}}

<router-outlet></router-outlet>
